<form [formGroup]="form">
  <app-radio-row-control [formControl]="form.controls.elementTypes" label="Elements" [values]="elementTypes" multiple></app-radio-row-control>
  <app-radio-row-control [formControl]="form.controls.rarity" label="Rarity" [values]="rarities"></app-radio-row-control>

  <div class="row">
    <div class="col">
      <app-radio-row-control
        skin="input-group"
        [formControl]="form.controls.hasNocturnalVariant"
        label="Nocturnal"
        [labelCols]="4"
        [values]="ternary"
        multiple
      ></app-radio-row-control>
    </div>
    <div class="col">
      <app-radio-row-control skin="input-group" [formControl]="form.controls.hasGymBossVariant" label="GYM" labelCols="4" [values]="ternary"></app-radio-row-control>
    </div>
  </div>
</form>
