<form [formGroup]="form">
  <div class="row mb-3" [class.text-secondary]="!form.value.elementTypes || form.value.elementTypes.length == 0">
    <label class="col-1 col-form-label">Elements</label>

    @for (elementType of elementTypes; track elementType) {
      <div class="col">
        <input
          type="checkbox"
          class="btn-check"
          id="{{ elementType }}-check"
          [checked]="form.value.elementTypes && form.value.elementTypes.includes(elementType)"
          (change)="setElement(elementType, $any($event.target).checked)"
          autocomplete="off"
        />
        <label class="w-100 btn btn-outline-secondary" for="{{ elementType }}-check">{{ elementType }}</label>
      </div>
    }
  </div>

  <div class="row mb-3" [class.text-secondary]="!form.value.minRarity && !form.value.maxRarity">
    <label class="col-1 col-form-label">Rarity</label>

    @for (rarity of rarities; track rarity) {
      <div class="col">
        <input
          type="checkbox"
          class="btn-check"
          id="rarity-{{ rarity }}-check"
          [checked]="form.value.minRarity == rarity"
          (change)="setRarity(rarity, $any($event.target).checked)"
          autocomplete="off"
        />
        <label class="w-100 btn btn-outline-secondary" for="rarity-{{ rarity }}-check">{{ rarity }}</label>
      </div>
    }
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="nocturnal-check" formControlName="isNocturnal" />
    <label class="form-check-label" [class.text-secondary]="!form.value.isNocturnal" for="nocturnal-check">Nocturnal</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="gym-check" formControlName="isTowerBoss" />
    <label class="form-check-label" [class.text-secondary]="!form.value.isTowerBoss" for="gym-check">GYM</label>
  </div>
</form>
