<div class="d-flex align-items-center gap-3">
  <div class="border border-secondary-subtle border-2 position-relative" style="width: 64px; height: 64px">
    @if (icon) {
      <img [src]="icon" alt="{{ name }} icon" width="100%" height="100%" />
    } @else {
      <div class="w-100 h-100 d-flex align-items-center justify-content-center fs-2 fw-bold">?</div>
    }
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex align-items-center">
      <div>
        <span class="fs-6">No.</span>
        <span>{{ paldexIndex.index }}</span>

        @if (paldexIndex.suffix) {
          <span>{{ paldexIndex.suffix | lowercase }}</span>
        }

        @if (variantsPaldexIndexes.length > 0) {
          <span class="text-muted">
            <span> (</span>
            @for (paldexIndex of variantsPaldexIndexes; track paldexIndex) {
              @if ($index > 0) {
                <span>, </span>
              }

              <span>{{ paldexIndex.index }}</span>

              @if (paldexIndex.suffix) {
                <span class="text-muted">{{ paldexIndex.suffix | lowercase }}</span>
              }
            }
            <span>)</span>
          </span>
        }

        <span class="fs-4 pe-2"> {{ name }}</span>
      </div>

      @if (hasNocturnalVariant) {
        <i class="bi bi-moon-fill fs-5 text-secondary" ngbTooltip="Nocturnal"></i>
      }

      @if (hasBossVariant) {
        <svg-icon src="./assets/icons/chess-queen.svg" [svgStyle]="{ 'width.px': 24, 'height.px': 24, fill: '#6c757d' }" ngbTooltip="BOSS"></svg-icon>
      }

      @if (hasGymBossVariant) {
        <svg-icon src="./assets/icons/tower.svg" [svgStyle]="{ 'width.px': 24, 'height.px': 24, fill: '#6c757d' }" ngbTooltip="GYM"></svg-icon>
      }
    </div>
    <div>
      <i class="bi bi-star-fill text-secondary" ngbTooltip="Rarity"></i>
      @if (rarityRange[0] === rarityRange[1]) {
        {{ rarityRange[0] }}
      } @else {
        {{ rarityRange[0] }} - {{ rarityRange[1] }}
      }
    </div>
  </div>
</div>
