@if (tribe) {
  <div class="w-100 d-flex align-items-stretch gap-2">
    <div class="border rounded-2 d-flex flex-column">
      <img [src]="icon" alt="Pal icon" />
      <hr class="m-0 p-0" />
      <div class="d-flex fs-3">
        <div class="px-2 d-flex align-items-center justify-content-center">
          <span>{{ paldexIndex }}</span>
          @if (paldexSuffix) {
            <span>{{ paldexSuffix }}</span>
          }
        </div>
        <div class="vr"></div>
        <div class="px-2 d-flex align-items-center text-truncate">
          {{ paldexName }}
        </div>

        <div class="flex-grow-1"></div>

        @if (elements) {
          <div class="px-2 d-flex align-items-center">
            <app-pal-element-icon [element]="elements[0]"></app-pal-element-icon>

            @if (elements[1]) {
              <app-pal-element-icon [element]="elements[1]"></app-pal-element-icon>
            }
          </div>
        }
      </div>
    </div>
    <div class="flex-grow-1 d-flex flex-column">
      <div class="nav nav-tabs">
        @for (pal of tribe.pals; track pal.identity.name) {
          <li class="nav-item">
            <a class="nav-link" [class.active]="pal.identity.name == selectedVariant?.identity?.name" (click)="selectVariant(pal)" role="button">
              <ng-container [ngTemplateOutlet]="variantTab" [ngTemplateOutletContext]="{ pal: pal }"></ng-container>
            </a>
          </li>
        }
      </div>
      <div class="p-4 flex-grow-1 border rounded-2 border-top-0 rounded-top-0">
        <ng-container [ngTemplateOutlet]="variantIdentity" [ngTemplateOutletContext]="{ pal: selectedVariant }"></ng-container>
      </div>
    </div>
  </div>
} @else {
  <div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}

<ng-template #variantTab let-pal="pal">
  <div class="position-relative" style="width: 24px; height: 24px">
    @if (pal.isGymBoss) {
      <img ngSrc="./assets/icons/pal_tower.png" alt="Tower boss icon" width="24" height="24" />
    } @else if (pal.isBoss) {
      <img ngSrc="./assets/icons/pal_boss.png" alt="Boss icon" width="30" height="24" />
    } @else {
      <img ngSrc="./assets/icons/pal.png" alt="Regular pal icon" width="21" height="24" />
    }
  </div>
</ng-template>

<ng-template #variantIdentity let-pal="pal">
  <div class="h-100 d-flex flex-column gap-2">
    <div class="d-flex gap-2">
      <div class="flex-grow-1">
        {{ pal.identity.localizedDescription }}
      </div>

      <div class="d-flex gap-2 flex-column align-items-center justify-content-center" style="width: 64px">
        @if (pal.isGymBoss) {
          <img ngSrc="./assets/icons/pal_tower.png" alt="Tower boss icon" width="64" height="64" />
          <span class="badge text-bg-secondary">GYM BOSS</span>
        } @else if (pal.isBoss) {
          <div class="d-flex align-items-center justify-content-center" style="width: 64px; height: 64px">
            <img ngSrc="./assets/icons/pal_boss.png" alt="Boss icon" width="40" height="32" />
          </div>
          <span class="badge text-bg-secondary">BOSS</span>
        } @else {
          <div class="d-flex align-items-center justify-content-center" style="width: 64px; height: 64px">
            <img ngSrc="./assets/icons/pal.png" alt="Regular pal icon" width="56" height="64" />
          </div>
        }
      </div>
    </div>
  </div>
</ng-template>
