<h1>Pals</h1>

@if (result) {
  <div class="mb-4">
    <h5>Filters</h5>
    <div class="ps-2">
      <app-browse-pals-filters (filtersChange)="onFiltersChange($event); refresh()"></app-browse-pals-filters>
    </div>
  </div>

  <div class="mb-2">
    @if (result) {
      @if (result.results.length < result.pagination.totalCount) {
        {{ currentPageRange[0] }}..{{ currentPageRange[1] }} / {{ result.pagination.totalCount }} results
      } @else {
        {{ result.results.length }} results
      }
    }
  </div>

  <div class="list-group list-group-flush">
    @for (tribe of result.results; track tribe.name) {
      <a class="list-group-item list-group-item-action" [routerLink]="['..', tribe.name]">
        <app-pal-nav-list-item [tribe]="tribe"></app-pal-nav-list-item>
      </a>
    }
  </div>

  @if (result.pagination.totalPages > 1) {
    <app-browse-pals-pagination [page]="result.pagination.pageNumber" [total]="result.pagination.totalPages" (pageChange)="goToPage($event)"></app-browse-pals-pagination>
  }
}
