<div class="h-100 d-flex flex-column">
  <header class="text-bg-dark mb-5">
    <div class="container">
      <div class="d-flex align-items-center">
        <div class="py-3 px-4 position-relative">
          <a
            class="stretched-link fw-bold font-monospace fs-4 text-white text-decoration-none"
            routerLink="/home"
          >
            PWC
          </a>
        </div>

        <div class="vr"></div>

        <ul class="nav nav-underline ps-5">
          <ng-container
            [ngTemplateOutlet]="menuItem"
            [ngTemplateOutletContext]="{ name: 'Home', url: '/home' }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="menuItem"
            [ngTemplateOutletContext]="{ name: 'Pals', url: '/pals' }"
          ></ng-container>
        </ul>
      </div>

      <hr class="p-0 m-0" />
    </div>
  </header>

  <div class="flex-grow-1 overflow-auto">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #menuItem let-name="name" let-url="url">
  <li class="nav-item">
    <a class="nav-link text-white" [routerLink]="url" routerLinkActive="active">
      {{ name }}
    </a>
  </li>
</ng-template>
