<div class="row mb-3">
  @switch (skin) {
    @case ('buttons') {
      <label class="col-{{ labelCols }} col-form-label" [class.text-secondary]="value == undefined" [class.text-primary]="value != undefined">
        {{ label }}
      </label>

      @for (v of values; track value) {
        <div class="col">
          <input
            type="checkbox"
            class="btn-check"
            id="{{ label }}-{{ v.value }}-check"
            [disabled]="isDisabled"
            [checked]="isChecked(v.value)"
            (change)="check(v.value, $any($event.target)?.checked)"
            autocomplete="off"
          />
          <label
            class="w-100 btn btn-outline-secondary"
            for="{{ label }}-{{ v.value }}-check"
            [class.border-primary]="value != undefined"
            [class.btn-outline-secondary]="value == undefined"
            [class.btn-outline-primary]="value != undefined"
          >
            {{ v.label }}
          </label>
        </div>
      }
    }
    @case ('input-group') {
      <div class="input-group justify-content-center">
        <span
          class="col-{{ labelCols }} input-group-text"
          [class.text-secondary]="value == undefined"
          [class.text-primary]="value != undefined"
          [class.border-primary]="value != undefined"
        >
          {{ label }}
        </span>

        @for (v of values; track value) {
          <input
            type="checkbox"
            class="btn-check"
            id="{{ label }}-{{ v.value }}-check"
            [disabled]="isDisabled"
            [checked]="isChecked(v.value)"
            (change)="check(v.value, $any($event.target)?.checked)"
            autocomplete="off"
          />
          <label
            class="btn"
            for="{{ label }}-{{ v.value }}-check"
            [class.border-primary]="value != undefined"
            [class.btn-outline-secondary]="value == undefined"
            [class.btn-outline-primary]="value != undefined"
          >
            {{ v.label }}
          </label>
        }
      </div>
    }
  }
</div>
